.form-group{
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

button{
    margin: 10px 0px;
}
.result_block {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.result{
    font-size: 30px;    
}

.error{
    font-size: 30px;
    color: red;
    font-weight: bold;
    text-align: center;
}


input{
    font-size: 17px;
    color: black;
}