.form-group{
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    padding-top: 50px;
}
button{
    margin: 10px 0px;
}
.result_block {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-top: 50px;
}
.result{
    font-size: 30px;    
}

.error{
    font-size: 30px;
    color: red;
    font-weight: bold;
    text-align: center;
}

.result_name, .result_surname, .result_amount, .result_period, .result_id{
    font-size: 25px;
    font-weight: bold;
}


.day_style {
    background-color: #ffffff;
    color: #000000;
}

.night_style{
    background-color: #000000;
    color: forestgreen;
}